<!DOCTYPE HTML>
<html>
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/home" class="nav-link px-2 text-secondary">Домой</a></li>
            <li><a href="/show_questions" class="nav-link px-2 text-white">Ваши вопросы</a></li>
            <li><a href="/new_question" class="nav-link px-2 text-white">Задать вопрос</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
            <a class="p-2 text-white" href="/session">Log in</a>
            <a class="p-2 text-white" href="/registration">Sign up</a>
        </div>
        </div>
    </div>
</header>
<main class="container mt-3">
    <h1>Вопросы</h1>

    {{#questions}}
    <article class="card">
        <div class="card-header bg-dark text-warning">
        <h3>Автор:&nbsp;&nbsp;@nfame</h3>
        <hr/>
        </div>

            <div class="card-body bg-dark text-white">
            <h2>{{title}}</h2>
            <hr/>
            <pre>{{text}}</pre>
            <hr/>
            <div class="my-3">
                <time datetime="2021-12-21 17:14:40">
                    Дата создания:&nbsp;&nbsp;2021-12-21 17:14:40
                </time>
            </div>

        <a class="btn btn-primary" href="/questions">Открыть в новом окне</a>
        </div>
    </article>
    {{/questions}}
    <hr/>
</main>
</body>
</html>
